body, h1, h2,h3,h4,h5,h6,p{
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 100%;
    max-height: 300px;
}
/* slider section */
.slider-section{
    background: url(/images/image1.png) no-repeat  ;
    padding: 100px 0;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.slider-section::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.322);
    z-index: -1;
}
.main-header{
    font-size: 18px;
    font-weight: 500;
}
.main-header span{
    color: #fefefe;
    display: inline-block;
    background: #17a2b8;
    height: 43px;
    width: 30px;
    text-align: center;
    border-radius: 10px;
    font-size: 28px;
    position: relative;
    top: 3px;
}
.main-menu .nav-link{
    padding-left: 15px;
    padding-right: 15px;
    
}
.slider-caption h2{
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 500;
    color: white;
}
.slider-caption h4{
    margin-bottom: 35px;
    color: white;
}
.slider-caption button{
    padding: 10px 10px;
}

/* about section start */
.about-section{
    background: rgba(0, 0, 0, 0.116);
}
.about-text-left{
    margin-top: 100px;
}
/* feature section start */
.feature-section{
    height: 550px;
}
.feature-items{
    box-shadow: 4px 5px 30px 0 rgba(0, 0, 0, 0.26);
}
.left-img-sec{
    width: 40%;
    border-radius: 5px 0 0 5px;
}
.left-img-sec img{
    height: 100%;
    width: auto;
    object-fit: cover;
}
.right-text-sec{
    width: 60%;
    padding: 20px;
}

/* portfolio item start */
.portfolio-item img{
    object-fit: cover;
    height: 300px;
    max-width: 100%;
    border-radius: 20px;
}
.portfolio-section{
    background: rgba(0, 0, 0, 0.075);
}
/* .portfolio-item{} */
.portfolio-item a{
    position: relative;
    display: block;
}
.portfolio-item a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.247);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.portfolio-item:hover a::after{
    opacity: 1;
    visibility: visible;
} 

.main-bg{
    background: #ececec;
}

/* Price section start here */
.pricing-item{
    background-color: white;
    padding: 50px;
    box-shadow: 4px 5px 30px 0 rgba(0, 0, 0, 0.26);
}
.pricing-item h2{}
.pricing-item h5{}
.pricing-item ul{
    list-style: none;
    margin-left: 0%;
    padding-left: 0%;
    margin-bottom: 40px;
}
.pricing-item ul li{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.pricing-item ul li span{
    display: inline-block;
    color: #9fcdff;
    font-size: 20px;
    font-weight: bold;
    width: 40px;
}
.pricing-item-button{
    

}
.pricing-item-button a{
    border-color: #657be0;
    border-width: 2px;
    columns: #657be0;
    padding: 10px 30px;
    box-shadow: 4px 5px 30px 0 rgba(0, 0, 0, 0.26);
}

/* testimonial section start */
.public-info{
width: 220px;
margin: auto;
}
.author-img{
    width: 80px;
    height: 80px;
}
.user-details{
    text-align: center;
    margin-right: 25px;
    position: relative;
    top: 6px;
}

/* about section start */

.about-item{
    margin-top: 90px;
}
.about-item .card img{
    width: 80px;
    height: 80px;
    margin-top: -50px;
    margin-left: 15px ;
}

/* contact form start here */
.contact-form-div .card{
    padding: 30px;
}